*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma,sans-serif;
}

body{
    background:#fffaf7;
    color:#333;
    text-align:center;
    line-height:1.8;
}

header{
    padding:60px 20px;
    background:linear-gradient(180deg,#fffdfc,#fff3ee);
}

.logo{
    width:180px;
    margin-bottom:20px;
}

h1{
    color:#b8860b;
    font-size:50px;
}

h2{
    margin-top:15px;
    color:#444;
}

header p{
    margin-top:20px;
    font-size:20px;
}

.buttons{
    margin:40px 0;
}

button{
    background:#d4af37;
    color:white;
    border:none;
    padding:15px 30px;
    margin:10px;
    border-radius:40px;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
    background:#b8860b;
}

#services{
    padding:60px 20px;
}

.card{
    background:white;
    width:300px;
    margin:20px auto;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

#contact{
    padding:60px 20px;
    background:#fff3ee;
}

#contact a{
    text-decoration:none;
    color:#b8860b;
    font-size:20px;
}

footer{
    padding:25px;
    background:#d4af37;
    color:white;
}
